body{
    background-color: lightgray;
  }
  .main {
    width: 1600px;  
    background-color: white;   
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    font-size:12px;
  }
  .pure-g [class*=pure-u] {
    font-family: 'Open Sans', sans-serif
  }
  .vega-bind {
    font-size:small;
    margin-left:15px;
    
  }
  .vega-bind label {
    display:inline-block;
    width:210px;
    margin-top:2px;
  }
  #visResearchImpacts .vega-bind label {
    display:initial;
    width:initial;
    margin-top:initial;
  }
  .text {
      text-align: left;
    padding-left: 2em;
  }
  .annotation {
    text-align: center;
    font-style: italic;
  }
  h1 {
    text-align:center;
  }
  .center {
    text-align: justify;
    justify-content: center; 
    margin: auto;
  }
  .highlight {
    background-color: red;
  }
  #vlBasicDevResearch {
    margin:auto;
  }
  .margin-below {
    margin-bottom: 100px;
  }
  button {
    transition-duration: 0.4s;
    border-radius:0%;
    border:none;
  }
  button:hover {
    background-color: darkgray;
    color: white;
    border:none;
  }
  .unpressed {
    background-color: initial;
    color: initial;
    border: initial;
    outline: initial;
  }
  .pressed {
    background-color: darkgray;
    color:white;
    border:none;
    outline:none;
  }
  h1 {
    font-size: 24px;
  }
  .vis-container{
    font-family: 'Open Sans';
  }
  .vega-actions a {
    margin-right: 5px;
  }